[submodule "template"]
	path = template
	url = https://github.com/ddhoogduin/wg-app-template.git
[submodule "directus"]
	path = directus
	url = https://github.com/directus/directus.git
[submodule "directus-manager"]
	path = directus-manager
	url = https://github.com/ddhoogduin/webapp-gen-directus-manager.git
